*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    display: flex; 
    flex-direction: column;
    margin:0px;
    
    
    /* height: 100%;
    width: 100%;    */
}

.header,
.main,
.footer{
    display:flex;
    flex-shrink: 1;  
    flex-grow: 1;
    
   
}

/*set background colours only*/
.section-one,
.header,
.footer{
    background-color: #1F2937;
}

.section-three
{
    background-color: #E5E7EB;
    padding: 50px 50px;
}



.header,
.menu ul {
    justify-content: space-between;
    display:flex;
    flex-direction:row;
}


.header h1{
    color: #f9FAF8;
    font-size: 24px;
    padding-top: 10px;
    margin-top: 10px;
}

.menu ul li{
    list-style: none;
    flex-direction: row;
    flex-grow: 1;
    padding: 10px;
    color: #f9FAF8;
    font-size: 18px;
}

.main{
    flex-direction: column;
}

.header,
.footer,
.section-one,
.section-two,
.section-three,
.section-four {
    display:flex;
    flex-direction:row;
    padding-left:100px;
    padding-right:100px;
}


.section-one{
    padding: 50px 100px;
}

.left-column,
.right-column{
    display:flex;
    flex-direction: column;
    flex: 1 1;
    /* align-content: center; */

}

.left-column{
    padding: 30px;
    padding-left: 0px;
}

.left-column h1 {
    color: #f9FAF8;
    font-size: 48px;
    font:bold;
    margin: 0px;
}

.left-column p {
    color: #f9FAF8;
    font-size: 18px;
    margin: 5px;
    
}

.left-column button {
    color: #f9FAF8;
    background-color:#3882f6 ;
    font-size: 18px;
    margin: 5px;
    padding: 8px;
    border-radius: 8px;
    border: 2px;
    
}

.right-column .image-container{
    flex: 1 1 auto;
    height:fit-content;
    width: fit-content;
    max-height: 500px;
    max-width: 500px;
    padding: 30px;
    
    /* background-color: #E5E7EB; */
}







.section-two img{
    max-width: 200px;
    max-height: 200px;
}

.section-two{
    flex-wrap: wrap;
    justify-content: center;
}

.section-two h2{
    flex: 1 1 100%;
    text-align: center;
    align-items: center;
}


.block-one,
.block-two,
.block-three,
.block-four {
    padding:10px;
    max-width: 210px;
}

.section-two p{
    text-align: center;
}

.section-two .image-container{
    flex: 1 1 auto;
    height:200px;
    width: 200px;
    max-height: 350px;
    max-width: 350px;
    padding: 0px;    
    /* background-color: #1b469d; */
    /* background-size:cover; */
}

.image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 8px;
    border:2px solid;
    border-color: #3882f6;
    /* overflow:hidden; */
    
    }


.section-three{
flex-direction: column;
padding-left: 250px;
padding-right: 250px;
}

.quote-main p {
    color: #1F2937;
    font-size: 24px;
}

.quote-author p {
    color: #1F2937;
    font-weight: 600;
    text-align: right;
    font-size: 18px;
    flex-grow: 1;
    align-items: flex-end;
    justify-items: flex-end;
}











.action-box{
    background-color: #3882f6;
    display:flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-evenly;
    
    color: #f9FAF8;
    font-size: 18px;
    margin: 40px;
    padding: 0px;
    border-radius: 8px;
    border:2px solid;
    border-color: #3882f6;
}

.action-left{
    flex-direction: column;
    display:flex;
    flex-direction: column;
    padding: 40px;
}

.action-left p {
    margin: 0px;
    padding: 0px;
}

.action-left h3 {
    margin: 0px;
    padding: 0px;
}

.action-right{
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
}

.action-right button {
    color: #E5E7EB;
    background-color:#3882f6 ;
    flex-grow: 1;
    flex-shrink: 1;
    font-size: 18px;
    margin: 5px;
    padding: 8px;
    border-radius: 8px;
    border: 2px solid #f9FAF8;
    
}

.footer{
    color: #E5E7EB;
    flex-direction: row;
    flex-shrink: 1;  
    flex-grow: 1;
    justify-content: space-evenly;
}